.messageSendingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.messageContainer {
  width: 80%;
  height: 700px;
  overflow-y: auto;
  border: 1px solid #b8c1ec;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.textAreaDiv {
  background: none;
  margin-right: 20px;
}
h3 {
  background: none;
}

.sendMessageBtn {
  width: 100px;
  height: 45px;
  background-color: #eebbc3;

  color: #232946;
  border: 1px solid #121629;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sendMessageBtn:hover {
  background-color: #ffe6e9;
}

.deleteButton {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}
