
footer {
    background-color: #333; 
    color: #fff; 
    padding: 40px 0;
    text-align: center;
  }
  
  footer .col-lg-6 {
    padding: 0 15px; 
  }

  .text-dark {
    font-size: 22px;
  }
  
  footer .list-unstyled li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer .input-group {
    margin-top: 20px; 
  }
  

  footer .text-center {
    background-color: rgba(0, 0, 0, 0.2); 
    color: #fff; 
    padding: 15px 0; 
  }
  

  footer .list-unstyled li a:hover {
    text-decoration: underline;
  }
  

  footer .input-group button {
    background-color: #007BFF; 
    color: #fff; 
    border: none;
  }
  

  footer .input-group button:hover {
    background-color: #0056b3; 
  }
  

  footer .text-center a {
    color: #fff; 
    text-decoration: none;
  }
  

  footer .text-center a:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
    footer {
        padding: 20px 0; 
    }
    
    .text-dark {
        font-size: 18px; 
    }
    
    footer .input-group {
        margin-top: 10px; 
    }
  }
